<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Thêm Hình Ảnh</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Xóa Hình Ảnh</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ">Sửa Thông tin</a>
  </li>
</ul>